{% extends "base.html" %}
{% load staticfiles %}
{% load django_markdown %}

{% block headertitle %}
About
{% endblock %}

{% block nav %}
{{ block.super }}
{% endblock %}

{% block content %}
<hr class="row featurette-divider">

<div class="row featurette-divider">
<div>
<h3>
About us...
</h3>
<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/xpRTf1kt9DE" frameborder="0" allowfullscreen></iframe></p>
<br>
<h4>
Image References:
</h4>
<p>
  <a href="https://www.flickr.com/photos/kmakice/5194246422/in/photolist-5K3x1S-AxHpK-oKLXwK-5f5fu-b9wRSx-9aQEtf-dSNc7g-othgGk-dNqKnu-e8W6PE-8UZSuN-8H5kEZ-bVUDPe-bVUDxi-duZucm-axLA8-dubFu3-dMhnvg-iHx6Zp-6sZY-cD8iLA-fgHXUU-qrPAXR-7WmkhD-9PWnh-5YwqB4-8omKsf-8WC77R-bjXPLa-o6KY1T-cA8FnL-fbWkiH-fyLkYv-fehdiC-fbVmCi-fPLLrn-fz1HGw-4SeEXy-5CPPpE-fPKVyc-jY54n-opnmK4-FBQC1-opqdmb-6VSLXE-a9hcrN-bn1aYe-opM1gU-6vfL4B-8C2hhp">Rocket Flyer Simulator</a><br>
  <a href="http://commons.wikimedia.org/wiki/File:ArtificialFictionBrain.png">Artificial Fiction Brain</a><br>
  <a href="http://www.clipartlord.com/free-personal-computer-clip-art-2/">Personal Computer Clip Art</a><br>
  <a href="https://thenounproject.com/term/faucet/9468/">Faucet</a><br>
  <a href="https://www.flickr.com/photos/nofrills/10895361/in/photolist-XQP4-3j2nph-5ZWVkC-ayG6Vj-3VASn3-ayDr8X-p5W47V-qJHt7n-9euFo1-q8JwJz-5uJVxM-6NCtWb-ebxEE-7LXamM-afXJWj-iodCJT-p5ArxB-9gaGxJ-8xQeoh-71YK8R-9JamAc-gcdXhB-nHd4PN-nydwUq-naSLwq-5oVMvC-3VAKAm-5JQhJQ-83mCTV-73pJiT-8fzSdE-3ozQty-PH62h-bW96o5-6sJEFz-dWhrxq-k5pWD2-5eDT6-dWnrT2-8z478d-6p7t8k-DDzja-7NZ7bZ-bick7n-rnCDDh-9CJoCo-6NwjG9-68YXWc-6rRFhv-bicjJR">language variety on cadbury's choc</a><br>
  <a href="https://www.flickr.com/photos/wwarby/11913436786/">Rubik's Cube</a><br>
  <a href="https://www.flickr.com/photos/esther17/256007508/in/photolist-oC77y-oMVJCs-6mq13f-4zT9fi-7tZwbN-7tVAz6-9qWT4m-moeLG-cM5aF-9ubqxr-oSUaJn-eednYt-eednX6-eej5XS-eej5X1-eednTB-eednST-pMpbyg-aaezWS-77Firt-77FihX-77Fi6P-77KcWC-77FhAr-77KcpJ-77Fhan-77FgTK-77Kbwj-77Fg9P-atkoiR-pPt2W6-7svUfm-7svXHJ-7svWnQ-7svW8d-7srXfR-7svV6o-7svTGG-7swoVj-dUdAZP-pkhoEX-Kpcuf-4HfejV-Gg1NE-ehXkNn-4NhDjW-atnXNJ-KXP4Y-4FznKK-bxBWe8">word of the day - emdot style</a><br>
  <a href="https://www.flickr.com/photos/klara/4554017796/in/photolist-9Sgawd-apFuHn-5GWNTT-axNyCU-dpFTX5-8hgCsq-Nywpp-83yHfJ-379T7b-8aTZ8x-mEWB-6dyv8Y-7nziBC-8AZeXr-725MMR-5wfvuz-6fJBED-4Z3zrj-4HnPsR-c6aLK-6tSFn3-7WqwQd-6GrfQ-6dunCx-39XTYw-72gX6r-5aR45v-5nccCF-47Xk5D-5xK3XM-7Kgvq6-4HbQGc-j96VEi-4WpYHq-adjg7-qv4bt-bka1JE-97QxZo-4DEt1R-48phGj-4GYUNU-djaFxZ-axNyFm-5aR3P4-7eSreP-edfAro-9ScXj8-4QzWnz-6fFKVt-fCiw5y">MATHS</a><br>
  <a href="https://www.flickr.com/photos/williamhook/3201183945/in/photolist-5SSUsD-8kVtY1-7rPCSc-5J1zrp-2eSU5-7rTz1h-9thNL5-2hiKMj-97GzTv-7rTzdC-d9XUmX-8kVtYu-7rPCPn-62FgZs-jF9pBu-jF8648-jFabN3-7dounG-8bkJxi-9PmF6j-6k3JEq-8hMzGF-4WmAbh-9Hth4S-9tK5Fa-6akfHd-5VU3gj-nxYJ3S-6ag8m8-8i5XsF-qPyDRB-6ag8YH-aqX6mM-kbkhP-77u6FM-7qEKuH-6UQQBt-fH6f4v-pzz15w-o9vSN1-Moufy-nvPSTY-gtuS-2MmXzD-FYtJ2-2Qx97H-TqZog-6ag6Bz-qm7Hfz-7GcdFo">Intel Core 2 Duo E7300 CPU</a><br>
  <a href="https://www.flickr.com/photos/julia_manzerova/4590854694/in/photolist-7ZFka9-e9wQiy-v24Jc-a8779z-83KPWx-3wCPXX-nMiURp-3eczq5-HrpHb-4oxwrt-4EyDp1-9BNVVZ-dUA8ZC-a89Zsh-8NvuJr-9BNW32-4qqJzZ-8de7Sy-bx5iHQ-9Yoywi-5pWFxi-5vkCKX-ghBXoU-btYAXX-4duRDP-5EXipW-bx5rhE-3MUjVj-ENU2t-8snpug-kscERv-5E2GkH-dC9Pus-QtBxs-8XbpwQ-hHeTJN-6Lqa6r-aDPRRX-83KNia-oewqwn-ppE1qi-rPMsMr-h975iX-aDPRJi-6MmWBB-9aQRw4-5MeUC-4oyMaB-by2eTr-kgkL8y">Very Large Array</a><br>
  <a href="https://www.flickr.com/photos/vestman/4908148942/in/photolist-8tHxFC-rQZ9jx-6B1Lg5-9QemUj-buvY1j-41tGub-a9CvgH-4NyPPP-6AWAzD-a9Cwqe-pp3Ynq-66MPhy-bzjoec-jqEaxt-9Rjqs-6tQGiP-6BsUCp-rcjgJC-62K4Qb-ciqC3f-6BK8mk-rP69GV-5QPocF-9kzL5y-rQShPy-s8mUUP-7fmf2R-pPui1T-9NoCno-9NkRv6-66MPhw-6BsTT4-gmZxcF-59cgCz-7EiP5G-9nPKfu-4y3KGy-8Diut5-874b3J-7cErsL-68DisV-fUth8i-ctVKko-gPYwvu-kqHCMU-kqFYjx-kqFh8x-r2Pqtw-s8q9ya-rRSb2t">Function</a><br>
  <a href="https://www.flickr.com/photos/jason_coleman/118295056/in/photolist-bshZW-jLfFdD-bk1PdS-4sLBwp-89J67J-e64xNv-7yJC6U-dPdKuA-bLJfYg-68RCgM-7Spghp-dP8di4-e64hv2-9nU4yq-5wCfqK-4rkNYj-7SEBRg-6L9g3k-Dmr74-9X81Ci-4Uw28m-D7aSS-DU9dy-4Uw21E-4Uw1Dm-dPdLef-5HKcgz-7VRSiH-4Uw1Tu-5Wkv1L-6HfQWF-4UrMy4-j4w1z-G13z6-Apzpg-5vFQYz-6gi9ZM-CHdJj-B69tB-4xevxU-8EoG9-DZt1D-4eh7Wt-q2DxLN-7yEHbH-D5gbf-5VcPim-ka4AqV-7yJsrU-9Hukx">Wintergreen Trails</a><br>
  <a href="http://en.wikipedia.org/wiki/Viper_%28Six_Flags_Magic_Mountain%29#/media/File:Viper_queue_view.jpg">Viper at Six Flags Magic Mountains</a><br>
  <a href="https://www.flickr.com/photos/dcreeves2000/147257996/in/photolist-e1JEY-4U2GPi-9XB4d8-79EVn6-nfPx72-6xfvm9-de4ZYg-a1GE4S-i3fCgz-ccQ6rL-75cgcM-59ib1t-7Gyyds-bpd8Ht-72eCPm-a1qW49-9UNeUM-fKSF1d-i3e73w-Mdf4-4UaodJ-97mRBK-9M8VWm-an5Vin-51p7BJ-ptJh3V-apgafX-qZ7fK8-KnCK4-4usG5p-GH7wh-4SexF-ec78kF-gPYA7-b7r6g-6fmKyW-3AvBtV-98CdBL-9dUbHm-aodrmH-as7QVk-asasy3-4UfZRy-d9A4Eb-9p77om-buRLHu-5WvBYq-7tnkmy-aogX72-8PNfWf">Da Vinci Code Cryptex HDR</a><br>
  <a href="https://www.flickr.com/photos/riebart/4466482623/in/photolist-7NFTF6-7m59N4-a6ouT6-reYFSn-4qvivG-6WxYTc-6YdFvY-57hHm6-bchsp6-Lp4VW-6NFMp7-o2vnD6-4qquBv-93GKbN-ekmNEF-ec11YQ-mjhDwB-isr8T9-5VKcCj-P6784-8SjwXw-2Poor-e1JEY-4U2GPi-9XB4d8-79EVn6-nfPx72-6xfvm9-de4ZYg-a1GE4S-i3fCgz-ccQ6rL-75cgcM-59ib1t-7Gyyds-bpd8Ht-72eCPm-a1qW49-9UNeUM-fKSF1d-i3e73w-Mdf4-4UaodJ-97mRBK-9M8VWm-an5Vin-51p7BJ-ptJh3V-apgafX-qZ7fK8">Code</a><br>
  <a href="https://www.flickr.com/photos/ikorwel/4546416829/in/photolist-4ZNN4b-7VKzk4-3fbGKc-qRYR5y-r9qad4-94iYny-fCGfjT-r4Udhr-dXdbW7-dptuue-cf9r3m-pAGFsP-6i7ERh-jdwEp3-96cGvJ-969Fva-nY7Eh5-asomVg-4ta9eD-o1LaRa-5V1mKU-4eYj6j-86znje-4rLrjK-ngLGYS-ovQusK-9UxSyU-rh3UNR-8Kv7u5-dkQDm7-8KRwFA-4GwUiP-9qMz6u-4qWPza-9aoSFV-6KJKqr-9qMyLN-oC8pr3-9qMz1L-8y98qC-4tbNxQ-e1Jz3o-nZ7tEc-7yz5cN-7Yk3xc-9qMyRs-bYm1L9-4dnJxV-nY7DQd-9qJyQz">Sunny side up eggs in toast</a><br>
  <a href="https://www.flickr.com/photos/mr_t_in_dc/4800819674">M&Ms Sorted by Color</a><br>
</p>
</div>
</div>

<hr class="featurette-divider">
{% endblock %}
