{% extends "base.html" %}
{% load staticfiles %}
{% load django_markdown %}

{% block headertitle %}
{{ questions.0.lesson.title }} Quiz
{% endblock %}

{% block title %}
{{ questions.0.lesson.title }} Quiz
{% endblock %}

{% block content %}
<hr class="featurette-divider">

<div class="row featurette-divider">
<div>
<h3>
{% if questions %}
{{ questions.0.lesson.title }} Quiz
{% else %}
This quiz hasn't been implemented yet. Check back later.
{% endif %}
</h3><br>
<h4 id="score">
</h4>

{% for q in questions %}
<p>
<form>
{{ q.question_text|markdown }}
{% for a in answers %}
{% if a.question.slug == q.slug %}

<div class="radio">
<label>
{% if a.is_correct_answer %}
<input type="radio" class="correct" name="{{ a.question.slug }}">
{% else %}
<input type="radio" class="wrong" name="{{ a.question.slug }}">
{% endif %}
{{ a.answer_text|markdown }}
</input>
</label>
</div>
{% endif %}
{% endfor %}
</form>
</p>
{% endfor %}

{% if questions %}
<p>
<button class="btn btn-md btn-primary" onclick="check()">Submit quiz &raquo;</button>
</p>
{% endif %}
</div>
</div>

<hr class="featurette-divider">
{% endblock %}

{% block functions %}
<script>
toggle = false;
function check() {
    if (toggle) {
        alert("Already submitted quiz");
        return;
    }
    toggle = true;
    var correct = document.getElementsByClassName("correct");
    var wrong = document.getElementsByClassName("wrong");
    var score = 0;
    for (i = 0; i < correct.length; i++) {
        if (correct[i].checked == true) {
            score++;
            correct[i].parentNode.style.color = 'lightgreen';
        }
    }

    for (i = 0; i < wrong.length; i++) {
        if (wrong[i].checked == true) {
            wrong[i].parentNode.style.color = 'red';
        }
    }

    document.getElementById("score").innerHTML ="You got "+score+" correct!";
}
</script>
{% endblock %}
